@font-face {
    font-family: "iracing-icons";
    src: url("/fonts/iracing-icons.woff") format('woff');
}
.no-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}
.inner-shadow {
    -moz-box-shadow:    inset 0 .5rem 1rem rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 .5rem 1rem rgba(0,0,0,.2);
    box-shadow:         inset 0 .5rem 1rem rgba(0,0,0,.2);
}
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}
.form-floating > label {
    padding: 0.2rem 0.5rem;
}
.form-floating .form-control:not(:placeholder-shown) {
    padding-top: 0.8rem;
    padding-bottom: 0.625rem;
}
.text-muted {
    color: var(--bs-gray-800) !important;
  }
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
.sticky {
    position: sticky;
    top: 0;
    z-index: 100;
}
.navbar {
    height: 57px;
}
h1 {
    margin-bottom: 20px;
}
.card-body {
    padding: 10px;
}
.iracing-icons {
    font-family: iracing-icons;
}
.subtitle-icon {
    font-size: 14px;
}
.category-icon {
    margin-right: 2px;
    font-size: 10px;
}
.favorite {
    cursor: pointer;
    font-size: 18px;
    margin: -2px 0;
}
.series-eligibility {
    padding-right: 20px;
    top: 10px;
    left: 14px;
}
.series-logo {
    left: 134px;
    top: 4px;
}
.series-logo img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 24px;
    width: 70px;
    object-fit: scale-down;
}
.series-logo-large img {
    height: 36px;
}
.planner-card img, .series-logo img {
    transition: 0.1s ease-in-out;

}
.planner-card:hover img, .series-logo:hover img {
    transform: scale(1.2);
    transition: 0.1s ease-in-out;
}
.license-badge {
    color: var(--bs-dark) !important;
    left: 47px;
    top: 13px;
}
.license-r {
    background-color: #EC2029 !important;
}
.license-d {
    background-color: #FF6600 !important;
}
.license-c {
    background-color: #FFCC00 !important;
}
.license-b {
    background-color: #33CC00 !important;
}
.license-a, .license-pro, .license-prowc {
    background-color: #00CCCC !important;
}
.pill-cat-license {
    width: 69px; /* Nice */
}
.track-container {
    width: 265px;
    height: 69px; /* Nice */
    background-size: 265px 149px !important;
    background-position: left !important;
    padding: 0px 4px 0px 30px;
    margin: 3px;
    position: relative;
    border: 1px solid var(--bs-gray-700);
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
    overflow: hidden;
}
.track-map {
    width: 100px;
    height: 60px;
    background-size: contain !important;
    position: absolute;
    top: 5px;
    left: 150px;
    opacity: 0.4;
}
.track-name {
    white-space: normal;
}
.track-logo {
    width: 110px;
    height: 23px;
    background-size: contain !important;
    background-position-y: bottom !important;
    position: absolute;
    bottom: 4px;
    left: 30px;
    opacity: 0.6;
    transition: 0.1s ease-in-out;
}
.track-container:not(.track-past-week):hover .track-logo {
    opacity: 1;
    transition: 0.1s ease-in-out;
}
.track-week {
    height: 67px;
    width: 24px;
    line-height: 67px;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 4px 0 0 4px;
    font-weight: bold;
    font-size: 17px;
}
.track-ownership-green {
    background: rgba(0, 0, 0, 0.4);
}
.track-ownership-red {
    background: rgba(255, 0, 0, 0.3);
}
.track-favorite {
    border-color: var(--bs-success) !important;
    border-width: 1px 10px 1px 1px;
}
.track-past-week {
    opacity: 0.2;
    transition: 0.1s ease-in-out;
    filter: saturate(0);
}
.track-past-week:hover {
    opacity: 0.4;
    transition: 0.1s ease-in-out;
}
.track-container-inactive, .track-past-week {
    cursor: default;
}
.track-buy {
    position: absolute;
    width: 24px;
    height: 17px;
    text-align: center;
    bottom: 0px;
    right: 0px;
    background-color: #FFA525;
    border-radius: 5px 0px 2px 0px;
    line-height: 16px;
}
.track-favorite .track-buy {
    border-radius: 5px 0px 0px 0px;
}
.track-buy:hover {
    background-color: #ffc675;
}
.track-buy a {
    color: black;
}
.track-buy a:hover {
    text-decoration: none;
    color: black;
}
.planner-card {
    margin: 10px 0 5px;
    cursor: pointer;
}
.planner-hidden {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}
.planner-visible {
    visibility: visible;
    opacity: 1;
    max-height: 100%;
    transition: visibility 0s linear 0s, opacity 300ms;
    margin-bottom: 26px;
}
.planner-card .card-body, .calendar-card {
    padding: 6px;
    height: 45px;
}
.planner-series-name {
    left: 219px;
    font-size: 18px;
    top: 7px;
}
.planner-favorite-message {
    right: 14px;
    top: 8px;
}
.calendar-container {
    overflow-x: scroll;
    white-space: nowrap;
    padding: 10px;
}
.calendar-week {
    width: 277px;
    display: inline-block;
}
.calendar-series-logo {
    width: 100px;
}
.inline-track-logo {
    height: 24px;
    width: 58px;
    object-fit: scale-down;
    float: left;
    margin-right: 10px;
}
.calendar-logos-container {
    width: 100px;
    float: left;
    margin-left: -5px;
    padding: 10px;
}
.calendar-series {
    height: 80px;
    display: flex;
    align-items: center;
}
.calendar-current-week {
    margin-right: 15px;
    margin-left: 10px;
}
.calendar-current-week .track-container {
    border: 1px solid var(--bs-gray-500);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.5) !important;
}
.calendar-current-week .track-past-week {
    opacity: 0.3;
}
.calendar-current-week .track-past-week:hover {
    opacity: 0.5;
}
.calendar-outer {
    margin-left: 95px;
}
.logo {
    transition: 0.1s ease-in-out;
}
.logo:hover {
    transition: 0.1s ease-in-out;
    transform: rotate(-1deg) scale(1.05);
}